body{
    overflow: hidden;
}
.start {
    position: relative;
    z-index: 80;
}
.point img{
    width: 4rem;
    height: 2rem;
}
.point{
    margin-left: 38rem;
    margin-bottom: 5rem;
}
.point span{
    color: white;
    font-size: 1.9rem;
    font-family: 'Audiowide', sans-serif;

}
.startButton{
    background-color:blueviolet;
    color: white;
    font-size: 2rem;
    border: none;
    height: 3rem;
    width: 9rem;
    font-family: 'Audiowide', sans-serif;
    display:block;
    margin:0 auto;
    cursor: pointer;
}

.gameName{
    font-size: 7rem;
    text-align: center;
    font-family: 'Audiowide', sans-serif;
    color: blueviolet;
    margin-top: 10rem;
    margin-bottom: 5rem;
    -webkit-text-stroke: 10px white;
}
.container{
    position: relative;
    display: none;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}
.bigcontainer{
    background-image: url('pic/space.jpeg');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.score{
    position: absolute;
    font-family: 'Audiowide', sans-serif;
    color: white;
    top: 70px;
    left: 100px;
    font-size: 2rem;
}
#playerScore{
    color: blueviolet;
}
.lives{
    position: absolute;
    font-family: 'Audiowide', sans-serif;
    color: white;
    top: 70px;
    left: 1100px;
    font-size: 2rem;
}
.live{
    width:40px;
    height: 50px;
    position: absolute;
    display: block;
    z-index: 80;
}
#defender{
    position: absolute;
    width: 60px;
    height: 100px;
    z-index: 100;
}
#missile{
    position: absolute;
    width: 25px;
    height: 50px;
    z-index: 80;
}

#missileAlien{
    position: absolute;
    width: 25px;
    height: 50px;
    z-index: 80;
}

#missileAlienBoss{
    position: absolute;
    width: 35px;
    height: 60px;
    z-index: 80;
}

.alien{
    width: 60px;
    height: 20px;
    position: absolute;
    display: block;
    z-index: 80;
}

#alien3{
    width: 80px;
    height: 30px;
    position: absolute;
    display: block;
    z-index: 80;
}

.over {
    position: relative;
    display: none;
    text-align: center;
    font-family: 'Audiowide', sans-serif;
}
.gameover{
    font-size: 7rem;
    color: blueviolet;
    margin-top: 7rem;
    margin-bottom: 2rem;
}
.EnterName{
    font-size: 2.5rem;
    color: white;
    margin-top: 60px;
}

input[type=text] {
    padding: 15px;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 30px;
    resize: vertical;
    border: none;
    font-size: 1.5rem;

}

input[type=text]:focus {
    outline: none;
}

#submitScoreButton {
    background-color: blueviolet;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Audiowide', sans-serif;
    font-size: 1.5rem;
    margin-top: 30px;
}
.scorelist {
    position: relative;
    display: none;
    text-align: center;
    font-family: 'Audiowide', sans-serif;
}
.list{
    font-size: 7rem;
    color: blueviolet;
    margin-top: 7rem;
    margin-bottom: 2rem;
}
#topScores{
    font-size: 3rem;
    color: white;
    list-style: none;
}
#restart {
    background-color: blueviolet;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Audiowide', sans-serif;
    font-size: 1.5rem;
    margin-top: 30px;
}